<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Nivel</title>
    <!-- Vinculación del archivo CSS -->
    <link rel="stylesheet" type="text/css" href="/css/jugar.css">
    <!-- Resto de las etiquetas meta y de enlace -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="justify-between">
    <div class="container mt-12">
        <h1 class="title">Selección de Niveles</h1>
        <div class="levels-container">
            <% @levels.each_with_index do |level, index| %>
                <% if index == 0 || @user.levels.include?(@levels[index - 1]) %>
                    <div class="level <%= 'completed' if @user.levels.include?(level) %>" onclick="location.href='/nivel/<%= level.id %>'" data-level="Nivel <%= level.id %>">
                        Nivel <%= level.id %>
                    </div>
                <% else %>
                    <div class="level locked" data-level="Nivel <%= level.id %>">
                        Nivel <%= level.id %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
    <section class="flex flex-col justify-center self-stretch bg-white shadow-sm">
    <div class="flex justify-center items-center px-16 w-full max-md:px-5 max-md:max-w-full">
      <div class="flex gap-5">
        <button class="shrink-0 aspect-[1.56] w-[76px]" onclick="location.href='/jugar'">
          <img class="shrink-0 aspect-[1.56] w-full" loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d089e329b0be2d37ac8f7ec91bfb97dcb996b7de5cc1f1a221726886da0f31f8?apiKey=6f181d88291c4e3c9df0b864cebefcce&" alt=""/>
        </button>
        <button class="shrink-0 aspect-[1.56] w-[76px]" onclick="location.href='/perfil'">
          <img class="shrink-0 aspect-[1.56] w-full" loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/16164984ecd76939b09e3f94f4338985d4db2833b5e4eff64a701238199a6a20?apiKey=0336232ee457421bbd9ee3e8fe6e3499&" alt=""/>
        </button>
        <button class="shrink-0 aspect-[1.56] w-[76px]" onclick="location.href='/ranking'">
          <img class="shrink-0 aspect-[1.56] w-full" loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c733c1268f61d0fcda1d9d8599a1601b4031af96710d54f44f0b8010f464dc62?apiKey=0336232ee457421bbd9ee3e8fe6e3499&" alt=""/>
        </button>
      </div>
    </div>
  </section>
</body>
</html>
