<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Nivel</title>
    <!-- Vinculación del archivo CSS -->
    <link rel="stylesheet" type="text/css" href="/css/jugar.css">
    <!-- Resto de las etiquetas meta y de enlace -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="title">Selección de Niveles</h1>
        <div class="levels-container">
            <% @levels.each_with_index do |level, index| %>
                <% if index == 0 || @user.levels.include?(@levels[index - 1]) %>
                    <div class="level <%= 'completed' if @user.levels.include?(level) %>" onclick="location.href='/level/<%= level.id %>'" data-level="Nivel <%= level.id %>">
                        Nivel <%= level.id %>
                    </div>
                <% else %>
                    <div class="level locked" data-level="Nivel <%= level.id %>">
                        Nivel <%= level.id %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="footer">
        <div class="footer-button" onclick="location.href='/jugar'">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d089e329b0be2d37ac8f7ec91bfb97dcb996b7de5cc1f1a221726886da0f31f8?apiKey=6f181d88291c4e3c9df0b864cebefcce&" alt="Jugar">
        </div>
        <div class="footer-button" onclick="location.href='/perfil'">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/b48a323340e874c19d212641fed8f49cd6c1a299fd6926b11032675cff114305?apiKey=6f181d88291c4e3c9df0b864cebefcce&" alt="Perfil">
        </div>
        <div class="footer-button" onclick="location.href='/ranking'">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d5bf6cf29a534f8357cc59907c1c4ba2da6e7e7f2d3a7f5a315273879bcc9026?apiKey=6f181d88291c4e3c9df0b864cebefcce&" alt="Ranking">
        </div>
    </div>
</body>
</html>
