<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashes & Dots - Translation</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">
  <link href="/css/output.css" rel="stylesheet">
  <link href="icon.ico" rel="icon">
</head>
<body class="relative">
<section class="flex h-screen justify-center items-center px-16 whitespace-nowrap leading-[150%] max-md:px-5 bg-gradient-to-b from-purple-800 to-gray-300">
  <article class="flex flex-wrap justify-center content-start mt-5 mb-5 rounded-xl shadow-sm bg-white bg-opacity-80 px-4"> 
    <div class="flex flex-col  justify-center mt-5 mb-5">
      <% if @level.playable_type != "Exam" %>
      <button onclick="toggleHelpModal()" class="absolute top-2 right-2 hover:scale-105 hover:transition-all transition duration-200">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/72823194a7d8c0df30eef42247c0bbe3e290abf4fb1c9e37ed6e1cb9eda1c452?apiKey=0336232ee457421bbd9ee3e8fe6e3499&" alt="Ayuda" class="w-16 aspect-[0.77]" />
      </button>
      <% end %>
      <button onclick="toggleQuitModal()" class="absolute top-2 left-2 bg-red-500 text-white p-2 rounded hover:transition-all transition duration-200 hover:ease-in hover:scale-105 hover:bg-red-700"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"> <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" /></svg></button>
      <h2 class="mt-1.5 text-xl font-extrabold text-center text-purple-950 max-md:max-w-full">Puntuacion Actual: <%= session[:user_level_score] %></h2>
      <h1 class="mt-1.5 text-4xl font-extrabold text-center text-black max-md:max-w-full"><%= @question.description %></h1>
      <div class="flex flex-wrap justify-center content-start items-center self-center px-16 mt-64 max-w-full text-base font-medium text-white w-[708px] max-md:px-5 max-md:mt-10">
        <div class="flex flex-col max-w-full w-[484px]">
          <form action="/level/<%= @level.id %>/<%= @question.id %>/check" method="post" class="w-full">
            <input type="hidden" name="question_id" value="<%= @question.id %>">
            <input type="text" name="user_guess" class="p-5 bg-black rounded-xl shadow-sm w-full text-white" placeholder="Escribe tu traducción aquí...">
            <br>
            <button type="submit" class="mt-5 p-5 bg-purple-700 rounded-xl shadow-sm text-white w-full hover:transition-all transition duration-200 hover:ease-in hover:scale-105 hover:bg-purple-900">Guardar Respuesta</button>
          </form>
        </div>
      </div>
      <br>
      <br>
      <button onclick="playAudio()" class="w-min flex gap-2 p-5 bg-black text-white rounded-xl shadow-sm transition duration-200 hover:bg-purple-700 hover:transition-all hover:scale-105" >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
        </svg>
        <span id="playPauseText" class="text-sm">Reproducir Música</span>
      </button>
    </div>
  </article>
</section>

<audio id="audio" src="\media\st1.mp3" preload="auto" loop>
</audio>

<!-- Help Modal -->
<div id="help-modal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
  <div class="bg-white flex flex-col items-end rounded-lg overflow-hidden shadow-xl max-w-lg w-full p-4">
    <button onclick="toggleHelpModal()" class="relative ">&times;</button>
    <img src="https://www.electronics-notes.com/images/morse-code-table-alphabet-letters.svg" alt="Tabla" class="w-full h-auto">
  </div>
</div>

<!-- Quit Modal -->
<div id="quit-modal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
  <div class="bg-white flex flex-col items-end rounded-lg overflow-hidden shadow-xl max-w-lg w-full p-4">
    <%= erb :quit_warning %>
  </div>
</div>

<!-- Success Modal -->
<div id="success-modal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
  <div class="bg-white flex flex-col items-end rounded-lg overflow-hidden shadow-xl max-w-lg w-full p-4">
    <%= erb :success %>
  </div>
</div>

<!-- Failure Modal -->
<div id="failure-modal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
  <div class="bg-white flex flex-col items-end rounded-lg overflow-hidden shadow-xl max-w-lg w-full p-4">
    <%= erb :exam_failed %>
  </div>
</div>

<!-- Failure Lesson Modal -->
<div id="failure_lesson-modal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
  <div class="bg-white flex flex-col items-end rounded-lg overflow-hidden shadow-xl max-w-lg w-full p-4">
    <%= erb :lesson_failed %>
  </div>
</div>

<script>

  if (localStorage.getItem('audioTime')) {
    audio.volume = 0.15
    audio.currentTime = localStorage.getItem('audioTime');
  }

  window.addEventListener('beforeunload', () => {
    localStorage.setItem('audioTime', audio.currentTime);
  });

  const playPauseText = document.getElementById('playPauseText');
  function playAudio() {
    const audio = document.getElementById('audio');
    if (audio.paused) {
            audio.volume = 0.15;
            audio.play();
            playPauseText.textContent = 'Pausar Música';
        } else {
            audio.pause();
            playPauseText.textContent = 'Reproducir Música';
        }
  }

  window.onload = playAudio();

function toggleHelpModal() {
  var modal = document.getElementById('help-modal');
  modal.classList.toggle('hidden');
}

function toggleQuitModal() {
  var modal = document.getElementById('quit-modal');
  modal.classList.toggle('hidden');
}

function toggleSuccessModal() {
  var modal = document.getElementById('success-modal');
  modal.classList.toggle('hidden');
}

function toggleFailureModal() {
  var modal = document.getElementById('failure-modal');
  modal.classList.toggle('hidden');
}

function toggleFailureLessonModal() {
  var modal = document.getElementById('failure_lesson-modal');
  modal.classList.toggle('hidden');
}

function redirectToMenu() {
  window.location.href = '/jugar';
}

function continuarHandler() {
  toggleQuitModal();
}

function salirHandler() {
  redirectToMenu();
}

<% if @show_success_popup %>
document.addEventListener('DOMContentLoaded', function() {
    toggleSuccessModal();
});
<% end %>

<% if @show_failure_popup && @level.playable_type == "Lesson" %>
document.addEventListener('DOMContentLoaded', function() {
    toggleFailureLessonModal();
});
<% end %>

<% if @show_failure_popup %>
document.addEventListener('DOMContentLoaded', function() {
    toggleFailureModal();
});
<% end %>
</script>
</body>
</html>